<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kale.framework" >


    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_httpmaster"
        android:theme="@style/AppTheme"
        android:name="kale.http.framework.MyApplication">
        <activity
            android:name="kale.http.framework.MainActivity"
            android:screenOrientation="landscape"
            android:label="HttpMaster">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
